body {
    background-color: #f5f0e8;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
}
.basic {
    padding: 40px;
    border-radius: 20px;
    background-color: #ffff;
    max-width: 400px;
    width: 90%;
    margin: 100px auto;
    font-size: 25px;
}
.pic {
    width: 100%;
    height: auto;
    border: radius 15px;
    margin-bottom: 20px;
}
.btn {
    background-color: #c25a7d;
    border-radius: 15px;
}
.btn:hover {
    background-color: #d67c9f;
    transform: scale(1.05);
}