body {
    background-color: navy;
    text-align: center;
}
.visit-card {
    background-color: white;
    width: 450px;
    margin: 100px auto 0;
    margin-top: 100px;
    padding: 20px;

}
.pic {
    display:block;
    width:150px;
    margin-left: auto;
    margin-right: auto;
}
.menu {
    font-size: 20px;
}
.item {
    font-size:0;
    text-align: center;
}
.name, .price {
    display:inline-block;
    width:45%;
    font-size: 16px;
    margin:0;
    vertical-align: middle;
}
.name {
     text-align: left;
}
.price {
     text-align: right;
}
.button {
    color: brown;
}
.button:hover {
    color: purple;
}